@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$veryDarkBlue: hsl(243, 87%, 12%);
$desaturatedBlue: hsl(238, 22%, 44%);
$brightBlue: hsl(224, 93%, 58%);
$hoverBlue: hsl(224, 93%, 70%);
$moderateCyan: hsl(170, 45%, 43%);
$hoverModerateCyan: hsl(170, 45%, 50%);
$lightGrayishBlue: hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 15px;
    padding: 0;
    margin: 0;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    padding: 1em;
    & img {
        width: 80px;
    }

    & nav {
        float: right;

        & a {
            margin-left: 1.3em;
            text-decoration: none;
            color: $veryDarkBlue;
            font-family: 'Open Sans', sans-serif;

            &:hover {
                color: $desaturatedBlue;
            }
        }
    }
}

main {
    position: relative;

    & .firstSection {
        padding: 3em 1em 0 1em;
        text-align: center;
        margin-bottom: 10em;

        & img {
            width: 100%;
            padding: 1em 0;
        }

        & .firstSectionText {
            color: $veryDarkBlue;
            & h1 {
                font-size: 25px;
                line-height: 1.4;
            }

            & .containerForm {
                position: relative;
                & form {
                    margin: 2em 0 1em;
                    & input {
                        width: 100%;
                        line-height: 3em;
                        border: 1px solid black;
                        border-radius: 3px;
                        outline: none;
                        padding-left: 2em;
    
                        &::placeholder {
                            color: $lightGray;
                        }
    
                        &:focus {
                            border-width: 2px;
                        }
                    }
    
                    & #warning1 {
                        position: relative;
                        display: none;
                        text-align: left;
                        color: red;
                        font-size: 12px ;
                        top:-10px;
                    }
            }
            }

            & button {
                // margin: 1em 0;
                background-color: $brightBlue;
                border: none;
                border-radius: 3px;
                width: 100%;
                line-height: 3em;
                color: white;
                font-weight: 600;
                letter-spacing: 0.5px;
                box-shadow: 0 2px 5px 0 $lightGray;
                transition: background 200ms linear;

                &:hover {
                    background-color: $hoverBlue;
                }
            }
        }
    }

    & .secondSection {
        background-color: $lightGrayishBlue;
        position: relative;
        padding: 1em;
        text-align: center;

        &::before {
            content: '';
            height: 50px;
            width: 100%;
            position: absolute;
            background-image: url(/images/bg-curve-mobile.svg);
            background-repeat: no-repeat;
            background-position: center;
            top: -50px;
            left: 0;

            @media screen and (min-width: 375px) {
                background-image: url(/images/bg-curve-desktop.svg);
                height: 125px;
                top: -110px;
            }
        }

        & > img {
            width: 100%;
            padding: 1em 1em;
        }

        & h3 {
            text-align: center;
        }

        & p {
            color:hsl(238, 22%, 44%);
        }

        & a {
            // text-align: center;
            position: relative;
            display: inline-block;
            border-bottom: 2px solid $moderateCyan;
            margin: 0 auto;
            padding-bottom: 0.3em;
            text-decoration: none;
            color: $moderateCyan;

            &:hover {
                filter: brightness(1.4);
            }

            & .arrow {
                position: relative;
                padding: 0;
                width: 22px;
                top: 5px;
                left: 3px;
            }
        }

        & .card {
            width: 300px;
            background-color: white;
            box-shadow: 0 0 15px -5px $lightGray;
            border-radius: 8px;
            margin: 3em auto;
            padding: 1.5em 1em 1.5em 2em;
            text-align: left;
            line-height: 1.8;

            & p {
                margin-top: 0;
                font-size: 11px;
                color: black;
            }

            & .testimonial {
                & .avatar {
                    border-radius: 50%;
                    width: 30px;
                    float: left;
                    margin-right: 1em;
                }

                & .name {
                    font-weight: 700;
                    letter-spacing: 0.5px;
                    margin: 0;
                }

                & .job {
                    position: relative;
                    font-size: 8px;
                    top: -3px;
                    margin-bottom: 0;
                }

            }
        }
    }
    
    & .thirdSection {
        background-color: $desaturatedBlue;
        text-align: center;
        padding: 3em;
        color: white;

        & form {
            margin: 2em 0 1em;
            & input {
                width: 90%;
                line-height: 3em;
                // border: 1px solid black;
                box-shadow: 0 2px 5px 0 rgb(51, 51, 51);
                border: none;
                border-radius: 3px;
                outline: none;
                padding-left: 1em;

                &::placeholder {
                    color: $lightGray;
                }
            }

            & #warning2 {
                display: none;
            }
        }
        & button {
            background-color: $brightBlue;
            border: none;
            border-radius: 3px;
            width: 90%;
            line-height: 3em;
            color: white;
            font-weight: 600;
            letter-spacing: 0.5px;
            box-shadow: 0 2px 5px 0 rgb(51, 51, 51);
            transition: background 200ms linear;

            &:hover {
                background-color: $hoverBlue;
            }
        }
      
    }
}

footer {
    background-color: $veryDarkBlue;
    color: white;
    padding: 3em 2em;

    & .logo {
        filter: brightness(0) saturate(100%) invert(1);
        width: 150px;
        margin-bottom: 2em;
    }

    & .footerFlexContainer .innerFlexData {
        display: flex;
        align-items: center;
        position: relative;
        top: 3px;
        gap: 1em;
        margin-bottom: 1em;
        & p {
            margin: 0;
        }

    }

    & .links {
        margin-top: 3em;
        
        & div {
            margin-bottom: 1em;
            & a {
                // display: block;
                text-decoration: none;
                color: white;
    
                &:hover {
                    color: $hoverBlue;
                }
            }
        }
    }

    & .social {
        text-align: center;
        margin-top: 2em;

        & a {
            border: 1px solid white;
            display: inline-block;
            width: 25px;
            line-height: 25px;
            border-radius: 50%;
            margin: 2px;
            color: white;
            transition: all 200ms linear;

            &:hover {
                color: $hoverBlue;
                border-color: $hoverBlue;
            }
        }
    }

  
}

@media screen and (min-width: 800px) {
    header {
        padding: 4em;
    }

    main {
        & .firstSection {
            display: flex;
            align-items: center;
            text-align: left;
            padding: 4em;
            gap: 3em;
            & img {
                order: 2;
            }
            
            & .containerForm {
                display: flex;
                align-items: baseline;
                gap: 1em;
                // background-color: red;
                padding-right: 3em;
    
                & form {
                    flex: 1 0 60%;
                }
            }
        }

        & .secondSection {
            display: flex;
            align-items: center;
            text-align: left;
            padding: 4em;
            gap: 3em;

            & img {
                order: 2;
                flex: 0 0 50%;
            }

            & .secondSectionText {

                & h3 {
                    font-size: 25px;
                    text-align: left;
                }

                & p {
                    padding-right: 5em;
                }

                & .card {
                    margin: 2em 0;
                }
            }
        }

        & .thirdSection {
            display: flex;
            align-items: center;
            gap: 7em;
            padding: 3em 5em;
            & .thirdSectionText {
                text-align: left;
                flex: 0 0 50%;
                padding-right: 8em;

                & h3 {
                    font-size: 25px;
                }

                & p {
                    line-height: 1.6;
                }
            }

            & .thirdSectionForm {
                text-align: left;
                flex: 1 0 0;
                & input {
                    width: 90%;
                }

                & button {
                    width: 200px;
                }
                
            }
        }
    }

    footer {
        padding: 5em 5em;

        & .logo {
            margin-bottom: 1em;
        }

        & .footerFlexContainer {
            display: flex;
            align-items: baseline;
            
            & .footerFlexItem {
                flex-grow: 1;
            }

            & .links {
                margin: 0;
            }

            & .social {
                margin: unset;
                text-align: left;
                & a {
                    text-align: center;
                }
            }
        }

    }
}

